
#app {
  display:flex;
  flex-flow: row wrap;
  width:100%;
  height:100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.size-width-all {
  width: 100%;
}