button.points-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
  }

  button.info-aditional-button {
    position: absolute;
    right: 200px;
    z-index: 1000;
  }